body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 30px;
  justify-self: center;
  margin-bottom: 40px;
}

.moves-container {
  justify-self: center;
  display: flex;
  gap: 10px;
}

.move-icon {
  height: 50px;
}

.move-button{
  background-color: transparent;
  border: 2px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 40px;
}

.result, .moves, .score {
  justify-self: center;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}

.moves {
  margin-bottom: 60px;
  margin-left: 30px;
}

.score{
  margin-bottom: 40px;
}

.you-win-green {
  color: green;
}

.you-lose-red {
  color: red;
}

.reset-auto-buttons {
  justify-self: center;
  display:flex;
  gap: 10px;
}

.reset-score-button, .auto-play-btn {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

.reset-warning{
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: center;
}

.warning-btn{
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.result-message-p{
  justify-self: center;
  font-size: 2em;
}
